body {
  background-color: #f1faee;
  font-family: "Roboto", sans-serif;
  color: #1d3557;
}

h1,
h2 {
  text-align: center;
}

.hidden {
  display: none;
}

.demo {
  text-align: center;
  font-weight: 800;
}

.el {
  padding: 1.5em;
}

.button {
  display: inline-block;
  /* padding is size */
  padding: 0.46em 1.6em;
  /* border witdth and color */
  border: 0.1em solid #264653;
  margin: 1em 0.5em 0.5em 1em;
  border-radius: 0.2em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #f1faee;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0, 0.35);
  background-color: #1d3557;
  text-align: center;
  transition: all 0.15s;
}

.button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #1d3557;
  border-color: #f1faee;
  background-color: #457b9d;
}

#buttonFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.modalTwo {
  text-align: center;
  font-weight: 500;
  border: 0.1em solid #264653;
}

.modalGuideline {
  text-align: center;
}

.modalGuideline p {
  font-weight: 700;
}

.guideHead {
  font-size: xx-large;
}

hr {
  border-top: 5px solid #1d3557;
}

.note {
  border: 3px;
  border-style: solid;
  border-radius: 1ex;
  padding: 0.3em;
  border-color: #1d3557;
  display: inline-block;
  color: #1d3557;
}

.redText {
  color: #e63946;
}

.noteHead {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: #e63946;
}
.noteBox {
  border: 3px;
  border-style: solid;
  border-radius: 1ex;
  padding: 1em;
  padding-top: 0%;
  border-color: #e63946;
  display: inline-block;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
}

.goal {
  border: 3px;
  border-radius: 1ex;
  border-style: solid;
  border-color: #1d3557;
  display: inline-block;
  padding: 0.3em;
  padding-top: 0%;
  background-color: #e63946;
}

.guide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
